.nav-container {
    width: auto;
    display: none;
}

.flexend-nav {
    display: none;
}

#nav-bar svg {
    width: 100px;
}

#nav-bar {
    margin: 0;
    width: 90%;
    padding-top: 20px;
}

.hero-txt h2 {
    line-height: 1.8rem;
    font-size: 20px;
    text-align: left;
}

.hero-txt {
    top: 80px;
    width: 90%;
    left: 7%;
}

.hero-txt p {
    margin: 0;
}

#hero {
    height: 400px;
}

#possibility {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    justify-content: center;
    align-items: flex-start;
}

#possibility h3 {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.p-list {
    width: 100%;
    padding-left: 0;
}

.p-list p {
    line-height: 18px;
}

#why-choose {
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
}

.why-list {
    margin: 20px;
}

article h3 {
    font-size: 24px;
}

article {
    width: 100%;
    margin-right: 0;
}

#pricing {
    margin: 20px 0;
}

.price-header {
    margin-bottom: 20px;
}

.price-header h2 {
    font-size: 24px;
}

.price-header p {
    padding-top: 20px;
    padding: 20px 30px;
    text-align: left;
}

.price-box {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-btn {
    margin: 10px 20px;
}

.active-card {
    position: inherit;
    width: 229px;
    height: 300px;
    padding: 40px 20px;
}

#trim {
    width: 350px;
    height: 235px;
    padding: 15px;
}

.card {
    padding: 40px 20px;
    margin: 20px 0;
}

.logo-area svg {
    width: 200px;
}

.social-icon {
    margin: 0 10px;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.social-icon svg {
    width: 30px;
}

.s-logo {
    align-items: center;
}

.links {
    display: grid;
    gap: 0px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.col .col-area {
    width: 80px;
    height: auto;
    padding: 10px;
    margin: 0;
    line-height: 8px;
}

.links .col {
    width: 120px;
    margin-left: 20px;
}

.col-area h4 {
    font-size: 10px;
    line-height: 12px;
}

#footer a {
    font-size: 8px;
}

.footer-second {
    display: none;
}